@charset "UTF-8";
main form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 300px;
	margin: 30px 0 20px;
}


th {
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}


















