@charset "UTF-8";

.contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 95px
}

.main-title {
	margin-bottom: 20px;
}

.error-area {
	margin-bottom: 50px;
}

table {
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

a {
	text-decoration: underline;
}
